<div class="pagination">
  <div class="pagination__numbers">
    <span class="text-counter text-counter--bold">01</span>
    <span class="text-counter">von</span>
    <span class="text-counter">02</span>
    {{> @icon--arrow-left}}
    {{> @icon--arrow-right}}
  </div>
  <div class="pagination__link">
    <a href="{{to}}">
      <span class="text-counter text-counter--bold">{{label}}</span>
      {{> @icon--arrow-right}}
    </a>
  </div> 
</div>