$color-primary: #439f35;
$color-secondary: #e18537;
$color-ocean: #79c7c3;
$color-coffee: #2e271a;
$color-dark: #000;
$color-bright: #fff;
$color-wolf: #5a5a5a;
$color-edison: #ededed;

.list {
  display: flex;
  gap: 1rem;
}

.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.background-color--primary {
  background-color: $color-primary;
}
.background-color--secondary {
  background-color: $color-secondary;
}
.background-color--ocean {
  background-color: $color-ocean;
}
.background-color--coffee {
  background-color: $color-coffee;
}
.background-color--edison {
  background-color: $color-edison;
}

.text-color--primary {
  color: $color-primary;
}
.text-color--secondary {
  color: $color-secondary;
}
.text-color--ocean {
  color: $color-ocean;
}
.text-color--coffee {
  color: $color-coffee;
}
.text-color--dark {
  color: $color-dark;
}
.text-color--bright {
  color: $color-bright;
}
.text-color--wolf {
  color: $color-wolf;
}
