.list {
  display: flex;
  gap: 1rem;
}

.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.background--primary {
  background-color: $color-primary;
}

.background--secondary {
  background-color: $color-secondary;
}

.background--tertiary {
  background-color: $color-tertiary;
}

.text--primary {
  color: $color-primary;
}
.text--secondary {
  color: $color-secondary;
}
.text--tertiary {
  color: $color-tertiary;
}
.text--dark {
  color: $color-dark;
}
.text--bright {
  color: $color-bright;
}
