<div class="list">
  <div class="circle primary"></div>
  <div class="circle secondary"></div>
  <div class="circle tertiary"></div>
  <div class="circle text"></div>
  <div class="circle text-bright"></div>
</div>