<div class="list">
  <div class="circle background--primary"></div>
  <div class="circle background--secondary"></div>
  <div class="circle background--tertiary"></div>
</div>
<div class="list">
  <span class="text--primary">Primary</span>
  <span class="text--secondary">Secondary</span>
  <span class="text--tertiary">Tertiary</span>
</div>