<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col">{{> @section-header}}</div>
        </div>
        <div class="row slider-facts__cards">
            <div class="col-xl-3 col-md-6 col-sm-12 slider-facts__col">{{> @card-facts--default}}</div>
            <div class="col-xl-3 col-md-6 col-sm-12 slider-facts__col">{{> @card-facts--secondary}}</div>
            <div class="col-xl-3 col-md-6 col-sm-12 slider-facts__col">{{> @card-facts--coffee}}</div>
            <div class="col-xl-3 col-md-6 col-sm-12 slider-facts__col">{{> @card-facts}}</div>
        </div>
        <div class="row">
            <div class="col">{{> @pagination}}</div>
        </div>
</div>