.icon-arrow-left {
  .a,
  .b {
    fill: none;
    stroke: $color-primary;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .a {
    stroke-width: 3.011px;
  }
  .b {
    stroke-width: 3.085px;
  }
}

.icon-arrow-right {
  .a {
    fill: none;
    stroke: $color-primary;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
  }
}

.icon-calendar {
  .a {
    fill: none;
    stroke: $color-primary;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
  }
  &--white {
    .a {
      stroke: $color-bright;
    }
  }
}

.icon-pause {
  .a {
    fill: none;
    stroke: $color-dark;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
  }
}
