<svg
  xmlns="http://www.w3.org/2000/svg"
  class="icon icon-scroll"
  viewBox="0 0 48 48"
><title>Scroll</title><g><rect x="23" y="7" width="2" height="10"></rect><path
      d="M25,0.1L24,0l-1,0.1l0,0c-7.8,0.5-14,7-14,15v18c0,8.3,6.7,15,15,15s15-6.7,15-15V15C39,7.1,32.8,0.6,25,0.1z M37,33&#10;c0,7.2-5.8,13-13,13s-13-5.8-13-13V15c0-7.2,5.8-13,13-13s13,5.8,13,13V33z"
    ></path></g></svg>