<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col">{{> @section-header}}</div>
        </div>
        <div class="row slider-highlight-content__cards">
            {{#each data-slider-highlight-content}}
                <div class="col-xl-3 col-md-6 col-sm-12 slider-highlight-content__col">
                    {{> "@card-default"}} 
                </div>
            {{/each}}
        </div>
        <div class="row">
            <div class="col">{{> @pagination}}</div>
        </div>
        </div>