<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col">{{> @section-header}}</div>
        </div>
        <div class="row highlight-content-slider__cards">
            <div class="col-3">{{> @card-default--highlight}}</div>
            <div class="col-3">{{> @card-default}}</div>
            <div class="col-3">{{> @card-default--text}}</div>
            <div class="col-3">{{> @card-default}}</div>
        </div>
        <div class="row">
            <div class="col">{{> @pagination}}</div>
        </div>
</div>