h1,
h2,
h3,
h4 {
  font-family: "Bernina";
}

h1 {
  font-size: 3.5rem;
  letter-spacing: 0.035rem;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 0.0125rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}
