@font-face {
  font-family: "Bernina";
  src: url("../fonts/Bernina/BerninaSans-Web-Regular-woff2.woff2")
      format("woff2"),
    url("../fonts/Bernina/BerninaSans-Web-Regular-woff.woff") format("woff"),
    url("../fonts/Bernina/BerninaSans-Web-Regular-eot.eot") format("eot");
}

@font-face {
  font-family: "Bernina";
  src: url("../fonts/Bernina/BerninaSans-Web-Bold-woff2.woff2") format("woff2"),
    url("../fonts/Bernina/BerninaSans-Web-Bold-woff.woff") format("woff"),
    url("../fonts/Bernina/BerninaSans-Web-Bold-eot.eot") format("eot");
  font-weight: 700;
}

@font-face {
  font-family: "Tiempos";
  src: url("../fonts/Tiempos/TiemposHeadlineWeb-Regular-woff2.woff2")
      format("woff2"),
    url(".../fonts/Tiempos/TiemposHeadlineWeb-Regular-woff.woff") format("woff"),
    url("../fonts/Tiempos/TiemposHeadlineWeb-Regular-eot.eot") format("eot");
  font-weight: 400;
}
@font-face {
  font-family: "Tiempos";
  src: url("../fonts/Tiempos/TiemposHeadlineWeb-Medium-woff2.woff2")
      format("woff2"),
    url(".../fonts/Tiempos/TiemposHeadlineWeb-Medium-woff.woff") format("woff"),
    url("../fonts/Tiempos/TiemposHeadlineWeb-Medium-eot.eot") format("eot");
  font-weight: 500;
}
