<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col">{{> @section-header}}</div>
        </div>
        <div class="row slider-facts__cards">
            {{#each data-slider-events}}
                <div class="col-xl-4 col-md-6 col-sm-12 slider-events__col">
                    {{> "@card-event"}}
                </div>
            {{/each}}
        </div>
        <div class="row">
            <div class="col">{{> @pagination}}</div>
        </div>
</div>