h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
}

a {
  cursor: pointer;
}

$Bernina: "Bernina", Arial, Helvetica, Tahoma, sans-serif;
$Tiempos: "Tiempos", "Times New Roman", Times, serif;

h1,
h2,
h3,
h4 {
  font-family: $Bernina;
}

h1 {
  font-size: 3.5rem;
  letter-spacing: 0.035rem;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 0.0125rem;
}

h3 {
  font-size: 1.5rem;
  color: $color-primary;
}

h4 {
  font-size: 1.25rem;
  color: $color-bright;
}

.text--intro {
  font-family: $Bernina;
  font-size: 1.75rem;
  color: $color-bright;
}

.text--button {
  font-family: $Bernina;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  color: $color-bright;
}

.text--source {
  font-family: $Bernina;
  font-size: 0.9375rem;
  color: $color-bright;
}

.text--wizard,
.text--wizard--link {
  font-family: $Bernina;
  font-size: 3.5rem;
  line-height: 6.5rem;
}

.text--wizard--link {
  border-bottom: 0.125rem solid $color-primary;
}

.text--body {
  font-family: $Tiempos;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.text--body__small {
  font-family: $Bernina;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.text--microtext {
  font-family: $Bernina;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
}

.text--large-number {
  font-family: $Bernina;
  font-weight: bold;
  font-size: 7.5rem;
  color: $color-bright;
  letter-spacing: -0.15rem;
}

.text--counter {
  font-family: $Bernina;
  font-size: 1.5rem;
}

.text--separate-link {
  font-family: $Bernina;
  font-size: 1.5rem;
  font-weight: 700;
  transition: 0.15s;
  cursor: pointer;

  &:hover {
    border-bottom: 0.0625rem solid $color-dark;
  }
}

.text--regular {
  font-weight: 400;
}

.text--bold {
  font-weight: bold;
}
