<h1>Headline 1</h1>
<h2>Headline 2</h2>
<h3>Headline 3</h3>
<h4>Headline 4</h4>
<p class="text--intro">Intro Lorem ipsum dolor sit amet consectetur</p>
<span class="text--button">Button</span>
<br />
<span class="text--source">Source</span>
<br />
<span class="text--wizard">Wizard</span>
<br />
<a class="text--wizard--link">Wizard Link</a>
<br />
<p class="text--body">Body Text Lorem ipsum dolor sit amet consectetur</p>
<p class="text--body__small">Body Text small Lorem ipsum dolor sit amet
  consectetur</p>
<span class="text--large-number">13</span>
<br />
<a class="text--separate-link">Separate Link</a>
<br />
<span class="text--counter">1 von 3</span>