<h1>Headline 1</h1>
<h2>Headline 2</h2>
<h3 class="text--primary">Headline 3</h3>
<h4>Headline 4</h4>
<p class="text--intro">Intro Lorem ipsum dolor sit amet consectetur</p>
<span class="text--button">Button</span>
<br />
<span class="text--source">Source</span>
<br />
<span class="text--xxl">XXL</span>
<br />
<p class="text--slider-intro">Slider Intro Lorem ipsum dolor sit amet
  consectetur</p>