<div class="bootstrap-wrapper">
  <div class="container-fluid" style="padding: 0 !important;">
    <section class="section">
      {{render "@hero"}}
    </section>
    <section class="section">
        {{render "@slider-highlight-content"}}
      </div>
    </section>
    <section class="section">
        {{render "@slider-facts"}}
    </section>
    <section class="section">
        {{render "@slider-events"}}
    </section>
  </div>
</div>