<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <section class="row section section--slider-highlight-content">
            <div class="col">
                {{> @hero}}
            </div>
        </section>
        <section class="row section section--slider-highlight-content">
            <div class="col">
                {{> @slider-highlight-content}}
            </div>
        </section>
        <section class="row section section--slider-facts">
            <div class="col">
                {{> @slider-facts}}
            </div>
        </section>
        <section class="row section section--slider-events">
            <div class="col">
                {{> @slider-events}}
            </div>
        </section>
    </div>
</div>