<div class="bootstrap-wrapper">
    <div class="container-fluid hero-container">
        <div class="hero">
            <div class="hero__img"></div>
            <div class="row hero__text">
                <h1 class="col-12 text-color--bright">Die Märkte der Zukunft liegen in Afrika.</h1>
                <p class="col-12  text-intro">Warum es sich lohnt, in Afrika zu investieren, erfahren Sie in unserem Video. Sichern Sie sich heute die Märkte von morgen und machen Sie sich bereit für den Sprung in die Zukunft.</p>
                <div class="col-12">{{> @button}}</div>
            </div>
            <div class="row hero__footer">
                <span class="col text-source">Bildquelle</span>
                <button class="col">{{> @icon--pause }}</button>
                <div class="col scrooolll">{{> @icon--scroll}}</div>
            </div>
        </div>
    </div>
</div>