<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      media="all"
      rel="stylesheet"
      href="{{path '../../../styles/styles.css'}}"
    />

    <title>Document</title>
  </head>
  <body style="display: grid; gap:3rem; margin:2rem">

    {{{yield}}}
  </body>
</html>