@import "../fonts/fonts";
@import "../../components/atoms/colors/colors";
@import "../../components/atoms/colors/colors.variables";
@import "../../components/test/blockquote";
@import "../../components/atoms/button/button";
@import "../../components/atoms/icon/icon";
@import "../../components/atoms/typography/typography";
@import "../../components/molecules/card-default/card-default";
@import "../../components/molecules/card-facts/card-facts";
@import "../../components/molecules/card-event/card-event";
@import "../../components/molecules/section-header/section-header";

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
