@import "../fonts/fonts";
@import "../../components/atoms/colors/colors";
@import "../../components/atoms/button/button";
@import "../../components/atoms/icon/icon";
@import "../../components/atoms/typography/typography";
@import "../../components/molecules/card-default/card-default";
@import "../../components/molecules/card-facts/card-facts";
@import "../../components/molecules/card-event/card-event";
@import "../../components/molecules/section-header/section-header";
@import "../../components/molecules/pagination/pagination";
@import "../../components/pages/test/test";
@import "../../components/organisms/slider-highlight-content/slider-highlight-content";
@import "../../components/organisms/slider-facts/slider-facts";
@import "../../components/pages/homepage/homepage";
@import "../bootstrap-grid/bootstrap-grid.scss";

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
