@import "../fonts/fonts";
@import "../../components/atoms/colors/colors";
@import "../../components/atoms/colors/colors.variables";
@import "../../components/test/blockquote";
@import "../../components/atoms/button/button";
@import "../../components/atoms/icon/icon";
@import "../../components/atoms/typography/typography";

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
