@font-face {
  font-family: "Bernina";
  src: url("../fonts/Bernina/BerninaSans-Web-Regular-woff2.woff2") format("woff2"), url("../fonts/Bernina/BerninaSans-Web-Regular-woff.woff") format("woff"), url("../fonts/Bernina/BerninaSans-Web-Regular-eot.eot") format("eot");
}

@font-face {
  font-family: "Bernina";
  src: url("../fonts/Bernina/BerninaSans-Web-Bold-woff2.woff2") format("woff2"), url("../fonts/Bernina/BerninaSans-Web-Bold-woff.woff") format("woff"), url("../fonts/Bernina/BerninaSans-Web-Bold-eot.eot") format("eot");
  font-weight: 700;
}

@font-face {
  font-family: "Tiempos";
  src: url("../fonts/Tiempos/TiemposHeadlineWeb-Regular-woff2.woff2") format("woff2"), url(".../fonts/Tiempos/TiemposHeadlineWeb-Regular-woff.woff") format("woff"), url("../fonts/Tiempos/TiemposHeadlineWeb-Regular-eot.eot") format("eot");
  font-weight: 400;
}

@font-face {
  font-family: "Tiempos";
  src: url("../fonts/Tiempos/TiemposHeadlineWeb-Medium-woff2.woff2") format("woff2"), url(".../fonts/Tiempos/TiemposHeadlineWeb-Medium-woff.woff") format("woff"), url("../fonts/Tiempos/TiemposHeadlineWeb-Medium-eot.eot") format("eot");
  font-weight: 500;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.background--primary {
  background-color: #439f35;
}

.background--secondary {
  background-color: #e18537;
}

.background--tertiary {
  background-color: #79c7c3;
}

.text--primary {
  color: #439f35;
}

.text--secondary {
  color: #e18537;
}

.text--tertiary {
  color: #79c7c3;
}

.text--dark {
  color: #000;
}

.text--bright {
  color: #fff;
}

.blockquote {
  color: blue;
}

.button {
  background-color: #e18537;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  background-color: #439f35;
}

.icon {
  max-width: 3rem;
}

.icon--arrow-left .a,
.icon--arrow-left .b {
  fill: none;
  stroke: #439f35;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.icon--arrow-left .a {
  stroke-width: 3.011px;
}

.icon--arrow-left .b {
  stroke-width: 3.085px;
}

.icon--arrow-right .a {
  fill: none;
  stroke: #439f35;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}

.icon--calendar .a {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}

.icon--pause .a {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}

h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
}

a {
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  font-family: "Bernina", Arial, Helvetica, Tahoma, sans-serif;
}

h1 {
  font-size: 3.5rem;
  letter-spacing: 0.035rem;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 0.0125rem;
}

h3 {
  font-size: 1.5rem;
  color: #439f35;
}

h4 {
  font-size: 1.25rem;
}

.text--intro {
  font-family: "Bernina", Arial, Helvetica, Tahoma, sans-serif;
  font-size: 1.75rem;
  color: #fff;
}

.text--button {
  font-family: "Bernina", Arial, Helvetica, Tahoma, sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  color: #fff;
}

.text--source {
  font-family: "Bernina", Arial, Helvetica, Tahoma, sans-serif;
  font-size: 0.9375rem;
  color: #fff;
}

.text--wizard,
.text--wizard--link {
  font-family: "Bernina", Arial, Helvetica, Tahoma, sans-serif;
  font-size: 3.5rem;
  line-height: 6.5rem;
}

.text--wizard--link {
  border-bottom: 0.125rem solid #439f35;
}

.text--body {
  font-family: "Tiempos", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.text--body__small {
  font-family: "Bernina", Arial, Helvetica, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.text--preline__small {
  font-family: "Bernina", Arial, Helvetica, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
}

.text--large-number {
  font-family: "Bernina", Arial, Helvetica, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 7.5rem;
  color: #fff;
  letter-spacing: -0.15rem;
}

.text--counter {
  font-family: "Bernina", Arial, Helvetica, Tahoma, sans-serif;
  font-size: 1.5rem;
}

.text--separate-link {
  font-family: "Bernina", Arial, Helvetica, Tahoma, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  cursor: pointer;
}

.text--separate-link:hover {
  border-bottom: 0.0625rem solid #000;
}

.card {
  width: 20.25rem;
  background-color: #ededed;
}

.card__image {
  width: 100%;
  max-height: 11.375rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__text {
  padding: 1rem;
}

*,
*::after,
*::before {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*# sourceMappingURL=styles.css.map */