.card-default--highlight {
  background-color: $color-edison;
  padding: 1rem;
}

.card-default--with-img {
  padding-top: 1rem;
}

.card-default__image {
  width: 100%;
  max-height: 11.375rem;
  object-fit: cover;
}

.card__text {
  span,
  h3 {
    display: block;
    margin-bottom: 1rem;
  }
}
