<div class="card-default card-default--highlight">
  <img src="{{card-default--highlight.Image}}" class="card-default__image" />
  <div class="card-default__text">
    <span
      class="text-microtext__bold"
    >{{card-default--highlight.Preline}}</span>
    <H3>{{card-default--highlight.Headline}}</H3>
    <p class="text-body-small">{{card-default--highlight.Copy}}</p>
  </div>
</div>