<div class="card-default">
  <div class="card-default__text">
    <span class="text-microtext__bold">{{Preline}}</span>
    <H3>{{Headline}}</H3>
    <p class="text-body-small">{{Copy}}</p>
  </div>
</div>