<div class="card card--highlight">
  <img src="{{Image}}" class="card__image" />
  <div class="card__text">
    <span class="text--preline__small">{{Preline}}</span>
    <H3>{{Headline}}</H3>
    <p class="text--body__small">{{Copy}}</p>
  </div>
</div>