<div class="card-default">
  <div class="card-default__text">
    <span class="text-microtext__bold">{{card-default--text.preline}}</span>
    <H3>{{card-default--text.headline}}</H3>
    <p class="text-body-small">{{card-default--text.copy}}</p>
  </div>
</div>