<div class="card-default">
  <img src="{{card-default.Image}}" class="card-default__image" />
  <div class="card-default__text">
    <span class="text-microtext__bold">{{card-default.Preline}}</span>
    <H3>{{card-default.Headline}}</H3>
    <p class="text-body-small">{{card-default.Copy}}</p>
  </div>
</div>