<div class="card-default card-default--highlight">
  <img src="{{card-default--highlight.image}}" class="card-default__image" />
  <div class="card-default__text">
    <span
      class="text-microtext__bold"
    >{{card-default--highlight.preline}}</span>
    <H3>{{card-default--highlight.headline}}</H3>
    <p class="text-body-small">{{card-default--highlight.copy}}</p>
  </div>
</div>