<div class="card-default">
  <div class="card-default__text">
    <span class="text-microtext__bold">{{card-default--text.Preline}}</span>
    <H3>{{card-default--text.Headline}}</H3>
    <p class="text-body-small">{{card-default--text.Copy}}</p>
  </div>
</div>