.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-bright;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 4.75rem 1.5rem;
  z-index: 2;
  &__logo {
    height: 1.83rem;
  }

  &__navbar {
    & > * {
      margin-left: 1rem;
    }
    svg {
      height: 2rem;
    }
  }

  &__burger {
    border: none;
    background: none;
    padding: 0;

    div {
      width: 2rem;
      border-top: 0.125rem solid $color-dark;
      margin-bottom: 0.43rem;
    }
  }
}
