<div class="header">
    <img class="header__logo" src="../../logos/Logo-ABG.svg" alt="Africa Business Guide Logo"/>
    <div class="header__navbar">
        {{> @icon--search}}
        {{> @icon--contact}}
        <button class="header__burger">
            <div></div>
            <div></div>
            <div></div>
        </button>
    </div>
</div>