<div class="card-facts card-facts--{{color}}">
  <span class="text-large-number card-facts__number">{{number}}
  </span>
  <div class="card-facts__text">
    <h4>{{copy}}</h4>
  </div>
  <div class="card-facts__color-bar">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>